<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="./style.css">
</head>
<body>

<div class="card">
<div class="box">
<div class="imgBx">
<img src="./1.png" alt="">
</div>
<div class="contentBx">
<div>
<h2>快船</h2>
<p>洛杉矶快船队，成立于1970年并加入NBA，是一支属于美国的加利福尼亚州洛杉矶为基地的NBA职业篮球队，是美国男篮职业联赛（NBA）西部联盟太平洋赛区的一部分。
快船队搬迁过多次，1970年初入NBA称为布法罗勇士队，1977-78赛季，勇敢者队搬到圣地亚哥，很快改名为快艇队。从1976-77赛季开始，快船队连续16个赛季未能进入季后赛。1981年球队易主，斯特林成为球队老板，在1984年将球队搬到洛杉矶。但一直摆脱不了鱼腩球队的身份，最好战绩是分区半决赛。
</p>
</div>
</div>
</div>
</div>

</body>
</html>